.module {
    position: relative;
}

.module-description {
    display: none;
    position: absolute;
    min-width: 550px;
    padding: 10px 15px;
    background-color: #2c3e50;
    border-radius: 8px;
    color: white;
    box-shadow: 3px 7px #1a252f;
    z-index: 10;
}

.module-desc {
    min-width: 450px;
    max-height: 400px;
    overflow: auto;
}

.module-description.opened:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 57px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 12.5px solid #2c3e50;
}

.opened {
    display: block;
}

.module > img {
    cursor: pointer;
}

.module:hover > img {
    opacity: 0.5
}
