# https://docs.repl.it/repls/dot-replit
run="while true; do python; done"
language="python3"
onBoot="python3 setup.py install"

[packager]
afterInstall="echo installation is finished!"
ignoredPaths=[".git", ".github", "doc", "tests"]
ignoredPackages=["python-can"]
