# common
pyserial
pyqt5
requests

# windows
bleak==0.8.0; sys_platform == 'win32'

# mac
tkmacosx; sys_platform == 'darwin'
bleak==0.8.0; sys_platform == 'darwin'

# linux
python-can; sys_platform == 'linux'
pexpect; sys_platform == 'linux'
